.icon-link {
  text-decoration: none;
  font-size: 1.0rem;
  cursor: pointer;
}
.icon-link:hover {
  opacity: 0.7;
}
.results table {
  font-size: 0.90rem;
}
.results table td,
.results table th {
  padding: 4px 8px;
  font-size: 0.8rem;
}
table.table.table-striped > tbody > tr:nth-of-type(odd) > td {
  background-color: #f5ecff !important;
}
table.table.table-striped > tbody > tr:hover > td {
  background-color: #f8b3e3 !important;
}
.results {
  padding: 15px;
}
td {
  vertical-align: middle;
}
