<div class="create-container">
  <h3 class="pacifico-heading">Add a book to Our BookNest by ISBN</h3>

  <!-- ISBN Lookup -->
  <form [formGroup]="isbnForm" (ngSubmit)="lookupISBN()" class="isbn-lookup mb-2">
    <input
      type="text"
      class="form-control d-inline w-50 border border-1 border-secondary"
      placeholder="Enter ISBN"
      formControlName="isbn"
    />

    <button
      class="btn btn-primary ms-2"
      type="submit"
      [disabled]="isbnForm.invalid || isLoading">
      {{ isLoading ? 'Looking up…' : 'Lookup' }}
    </button>
  </form>

  <!-- Error message -->
  @if (lookupError) {
    <p class="error mt-2">
      {{ lookupError }}
    </p>
  }

  <div class="book-details-container">
    <div class="create">
    <!---span class="not-required-note">complete required fields</span--->
      @if (bookForm.enabled) {
        <form [formGroup]="bookForm">

            <div class="form-group">
              <label for="isbn">ISBN :</label>
              <input id="isbn" formControlName="isbn" type="text">
            </div>

            <div class="form-group">
              <label for="title">Title :</label>
              <input id="title" formControlName="title" type="text">
              @if (
                bookForm.get('title')?.invalid &&
                bookForm.get('title')?.touched
              ) {
              <div class="validation-hint">
                Title is required.
              </div>
              }
            </div>

        <div class="form-group">
          <label for="author_first_name">Author First Name :</label>
          <input id="author_first_name" formControlName="author_first_name" type="text">
          @if (
            bookForm.get('author_first_name')?.invalid &&
            bookForm.get('author_first_name')?.touched
          ) {
          <div class="validation-hint">
            Author's first name is required.
          </div>
          }
        </div>

        <div class="form-group">
          <label for="author_last_name">Author Last Name :</label>
          <input id="author_last_name" formControlName="author_last_name" type="text">
          @if (
            bookForm.get('author_last_name')?.invalid &&
            bookForm.get('author_last_name')?.touched
          ) {
          <div class="validation-hint">
            Author's last name is required.
          </div>
          }
        </div>

        <div class="form-group">
          <label for="edition_note">Edition Information* :</label>
          <input id="edition_note" formControlName="edition_note" type="text">
        </div>

        <div class="form-group">
          <label for="series_name">Series Name* :</label>
          <input id="series_name" formControlName="series_name" type="text">
        </div>

        <div class="form-group">
          <label for="publication_year">Publication Year :</label>
          <input id="publication_year" formControlName="publication_year" type="number" min="1000" max="2050">
        </div>

        <div class="form-group">
          <label for="location">Location :</label>
          <select id="location" formControlName="location">
            <option value="">-- Select a Room --</option>
              @for (loc of locations; track loc) {
                <option [value]="loc">{{ loc }}</option>
              }
          </select>
          @if (
            bookForm.get('location')?.invalid &&
            bookForm.get('location')?.touched
          ) {
            <div class="validation-hint">
              Please select a location.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="bookcase">Book Case # :</label>
          <input id="bookcase" formControlName="bookcase" type="number" min="0" max="20">
        </div>

        <div class="form-group">
          <label for="bookshelf">Book Shelf # :</label>
          <input id="bookshelf" formControlName="bookshelf" type="number" min="0" max="10">
        </div>

        <div class="form-group">
          <label for="imagePath">Image Path* :</label>
          <input id="imagePath" formControlName="imagePath" type="string">
        </div>

      </form>
  }
      <span class="not-required-note">* not required</span>
      @if (showValidationModal) {
        <div class="modal-backdrop"></div>

        <div class="delete-modal">
          <h3 class="pacifico-heading">Missing Information</h3>
          <p>Please fill out all required fields before saving.</p>

          <div class="modal-buttons">
            <button class="btn btn-details" (click)="closeValidationModal()">OK</button>
          </div>
        </div>
      }
  </div>
  </div>
      <div class="button-row home-buttons">
        <button class="btn btn-details" (click)="createBook()">Save</button>
        <a class="btn btn-delete" [routerLink]="['/books/search']">Cancel</a>
      </div>

