.home-picture {
  max-width: 500px;
}

.book-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ecff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.home-buttons {
  gap: 30px;
}
