<div class="create-container">
  <h3 class="pacifico-heading">Add a book to Our BookNest</h3>

  <div class="book-details-container">
    <div class="create">
      <form [formGroup]="newBookForm">

        <div class="form-group">
          <label class="required-label">Title :</label>
          <input id="title" formControlName="title" type="text">
          @if (
            newBookForm.get('title')?.invalid &&
            newBookForm.get('title')?.touched
          ) {
          <div class="validation-hint">
            Title is required.
          </div>
          }
        </div>

        <div class="form-group">
          <label class="required-label" for="author_first_name">Author First Name :</label>
          <input id="author_first_name" formControlName="author_first_name" type="text">
          @if (
            newBookForm.get('author_first_name')?.invalid &&
            newBookForm.get('author_first_name')?.touched
          ) {
          <div class="validation-hint">
            Author's first name is required.
          </div>
          }
        </div>

        <div class="form-group">
          <label class="required-label" for="author_last_name">Author Last Name :</label>
          <input id="author_last_name" formControlName="author_last_name" type="text">
          @if (
            newBookForm.get('author_last_name')?.invalid &&
            newBookForm.get('author_last_name')?.touched
          ) {
          <div class="validation-hint">
            Author's last name is required.
          </div>
          }
        </div>
        <div class="form-group">
          <label for="edition_note">Edition Information :</label>
          <input id="edition_note" formControlName="edition_note" type="text">
        </div>
        <div class="form-group">
          <label for="series_name">Series Name :</label>
          <input id="series_name" formControlName="series_name" type="text">
        </div>

        <div class="form-group">
          <label for="publication_year">Publication Year :</label>
          <input id="publication_year" formControlName="publication_year" type="number" min="1000" max="2050">
        </div>

        <div class="form-group">
          <label class="required-label"  for="location">Location :</label>
          <select id="location" formControlName="location">
            <option value="">-- Select a Room --</option>
              @for (loc of locations; track loc) {
                <option [value]="loc">{{ loc }}</option>
              }
          </select>
          @if (
            newBookForm.get('location')?.invalid &&
            newBookForm.get('location')?.touched
          ) {
            <div class="validation-hint">
              Please select a location.
            </div>
          }
        </div>
        <div class="form-group">
          <label for="bookcase">Book Case # :</label>
          <input id="bookcase" formControlName="bookcase" type="number" min="0" max="20">
        </div>

        <div class="form-group">
          <label for="bookshelf">Book Shelf # :</label>
          <input id="bookshelf" formControlName="bookshelf" type="number" min="0" max="10">
        </div>

        <div class="form-group">
          <label for="imagePath">Image Path :</label>
          <input id="imagePath" formControlName="imagePath" type="string">
        </div>

      </form>
      <span class="required-note">* required</span>

    </div>
  </div>

    @if (showValidationModal) {
      <div class="modal-backdrop"></div>

      <div class="delete-modal">
        <h3 class="pacifico-heading">Missing Information</h3>
        <p>Please fill out all required fields before saving.</p>

        <div class="modal-buttons">
          <button class="btn btn-details" (click)="closeValidationModal()">OK</button>
        </div>
      </div>
    }

  <div class="button-row home-buttons">
    <button class="btn btn-details" (click)="createBook()">Save</button>
    <a class="btn btn-delete" [routerLink]="['/books/search']">Cancel</a>
  </div>
</div>

