.overview-picture {
  max-width: 500px;
  margin-bottom: 20px;
}

.book-overview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ecff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.overview-buttons {
  gap: 30px;
}
.overview-highlight {
  color: #5f24a2;
  font-weight: bold;
  font-style: italic;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.book-overview h1 {
  text-align: center;
}
