@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;

  background: linear-gradient(
    180deg,
    oklch(69.02% 0.277 332.77) 0%,
    oklch(58% 0.25 315) 50%,
    oklch(43.5% 0.17 299) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 5px;
}
.overview-picture {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.book-overview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ecff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.overview-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.overview-highlight {
  color: #5f24a2;
  font-weight: bold;
  font-style: italic;
}
