@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h2 {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;

  background: linear-gradient(
    180deg,
    oklch(69.02% 0.277 332.77) 0%,
    oklch(58% 0.25 315) 50%,
    oklch(43.5% 0.17 299) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 5px;
}
.inline-float-right {
  display: inline;
  float: right;
  margin-right: 7em;
}
